    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgb(184, 226, 32);
    }
    form {
        border: 1 px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        background-color: #4662af;
    }